@import url("utils.css");
/* :root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --tertiary-color: #FFC107;
    --font-black: #000000;
    --font-white: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Poppins", sans-serif;
  } */